[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = ">=5.1,<5.2"
django = "<4.2,>=4.1"
mysqlclient = "<2.3,>=2.2"
python-dotenv = ">=1.0,<1.1"

[dev-packages]

[requires]
python_version = "3.10"
