-i https://pypi.org/simple
anyascii==0.3.2; python_version >= '3.3'
asgiref==3.7.2; python_version >= '3.7'
beautifulsoup4==4.11.2; python_full_version >= '3.6.0'
certifi==2023.7.22; python_version >= '3.6'
charset-normalizer==3.2.0; python_full_version >= '3.7.0'
defusedxml==0.7.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
django==4.2.4; python_version >= '3.8'
django-filter==23.2; python_version >= '3.7'
django-modelcluster==6.0; python_version >= '3.7'
django-permissionedforms==0.1; python_version >= '3.7'
django-taggit==4.0.0; python_version >= '3.6'
django-treebeard==4.7; python_version >= '3.8'
djangorestframework==3.14.0; python_version >= '3.6'
draftjs-exporter==2.1.7
et-xmlfile==1.1.0; python_version >= '3.6'
filetype==1.2.0
html5lib==1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
idna==3.4; python_version >= '3.5'
l18n==2021.3
mysqlclient==2.2.0
openpyxl==3.1.2; python_version >= '3.6'
pillow==10.0.0; python_version >= '3.8'
pillow-heif==0.13.0
python-dotenv==1.0.0
pytz==2023.3
requests==2.31.0; python_version >= '3.7'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
soupsieve==2.4.1; python_version >= '3.7'
sqlparse==0.4.4; python_version >= '3.5'
telepath==0.3.1; python_version >= '3.8'
urllib3==2.0.4; python_version >= '3.7'
wagtail==5.1.1
webencodings==0.5.1
willow[heif]==1.6.1; python_version >= '3.8'
